.clean {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    //justify-content: center;
    //align-items: center;
  }

  margin-top: $page-margin;

  .btn {
    width: 100%;
    max-width: 31.5rem;
  }
}

.vk-comments {
  margin: 15px 10px;
  max-width: 430px;
}

@media (max-width: 450px) {
  .clean iframe {
    width: 100%;
  }
}