.progress-position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.progress {
    background-color: #a3abb3;
    height: 15px;
    width: 80%;
}

.progress {
    position: relative;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1.2em;
    overflow: hidden;
    font-size: 1.5rem;
    background-color: #e9ecef;
    border-radius: 7px;
}

.main-progress-bar {
    border-radius: 3px;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #467fcf;
    transition: width 0.6s ease;
}

.percent {
    position: absolute;
    left: 50%;
}

.progress-status {
    font-size: 2em;
}