.public-wrapper {
    max-width: 35rem;
    width: 27.5rem;
    padding: 0 2rem;

    margin-top: 3rem;

    .public {
        width: 100%;

        background: white;

        padding: 1rem 3rem;

        color: #495057;

        border-radius: 2px;

        box-shadow: 1px 2px 4px rgba(#000, 0.1);

        transition: background 0.25s;
        &__heading {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;

            margin-bottom: 2rem;

            &__img {
                border-radius: 100%;
                width: 5rem;
                height: 5rem;
            }
            &__name {
                font-size: 2rem;
            }
        }
        &__info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &--all {
                font-size: 2rem;
            }
            &--deleted {
                font-size: 2rem;
            }
        }
    }
}

.public-wrapper:first-child {
    margin-top: 0;
}