.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.25);
    }
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 30rem;
        background: white;
        border-radius: 4px;

        padding-top: 3rem;
        &__text {
            text-align: center;
            font-size: 2rem;
            color: rgba(0, 0, 0, 0.85);
            margin-bottom: 2rem;
        }
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            overflow-y: auto;
            .group {
                display: flex;
                justify-content: space-between;
                width: auto;
                min-width: 60%;
                padding: 1rem 2rem;
                background: rgba(0, 0, 0, 0.15);
                border-radius: 16px;
                font-size: 2rem;
                height: 5rem;
                min-height: 5rem;
                margin-bottom: 1rem;
                &__details {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    img {
                        width: 4rem;
                        height: 4rem;
                        border-radius: 100%;
                        margin-right: 1rem;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
}

.plus-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 2rem;

    cursor: pointer;

    color: rgb(42, 42, 42);

    &:hover {
        color: rgb(11, 11, 11);
    }

    &--cris {
        transform: rotate(45deg);
    }
    transition: transform 0.15s ease-in-out, color 0.15s;
    &::before {
        content: '';
        position: absolute;
        left: 1rem;
        height: 2rem;
        transform: translateX(-50%);
        border: 1px solid;
        background: inherit;
        transition: border-color 0.15s;
    }
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 2rem;
        border: 1px solid;
        transition: border-color 0.15s;
    }
}
